@charset "utf8";
*,*:after,*:before,html{box-sizing:border-box}
body{margin:0;padding:0}
h1{
	font-family:font-family Tahoma,Geneva,sans-serif;
	font-style:normal;
	font-weight:700;
	font-size:32px
	}
h1,#Loading>div{
	top:50%;
	left:50%;
	display:block;
	position:absolute;
	transform:translate(-50%,-50%)
	}
#Loading{
	background:#000;
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	z-index:999
	}
#Loading>div{width:200px;height:200px}
#Loading>div:before,#Loading>div:after{
	content:"";
	display:block;
	position:absolute;
	border-radius:50%;
	border:4px solid #a3a3a3;
	border-top-color:#88001b
	}

#Loading>div:before{width:100%;height:100%;animation:loading 5s linear infinite}
#Loading>div:after{
	width:150px;
	height:150px;
	top:25px;
	left:25px;
	animation:loading 5s linear infinite reverse
	}
@keyframes loading{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
	}