<!DOCTYPE html>
<html lang="en">
<head>
    <title>HAKET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>




    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script sync src="https://platform.twitter.com/widgets.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
    <script>
        function loader(){
            loader = setTimeout(showPage, 36000)
        }
        function showPage(){
           document.getElementById("Loading").style.display = "none"
        }
        $.extend( true, $.fn.dataTable.defaults, {
            "searching": true,
            "ordering": true
        } );
         $(document).ready(function() {
             $('#example1').DataTable({
                 "lengthChange": false,
                 "paging": true
             });
             $('#example2').DataTable({
                 "lengthChange": false,
                 "paging": false
             });
             $('#example3').DataTable({
                 "lengthChange": false,
                 "paging": false
             });
             $('#example4').DataTable({
                 "lengthChange": false,
                 "paging": false
             });
             $('#example5').DataTable({
                 "lengthChange": false,
                 "paging": false
             });
         });

    </script>
    <style>
        @media (min-width: 1200px) {
          .container-fluid {
            width: 900px;
          }
        }
        tr {
           line-height: 10px;
           min-height: 10px;
           height: 10px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #337ab7 !important;">
  <a class="navbar-brand" href="#" style="color: white;font-size: 20px;" title="Human Augmented Knowledge Extraction Tool">HAKET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <input type="submit" value="Search" class="btn btn-success">
    </form>&nbsp;&nbsp;&nbsp;
      <form method="post" action="">
            <button class="btn btn-success" type="submit">Results</button>
      </form>

  </div>
</nav>
</body>
</html>